html, body {
height: 100%;
display: block;
background-color: #432660;
}

#admin_container {
display: block;
background-color: #432660;
}
/* ----------------- Header ----------------------- */
/* Menu Superior */
#header #top_nav #top_menu {
right: 10px;
}
/* Tips */
#header #top_tips #tips ul#lista_tips li.tip_callcenter span {
padding-left: 20px;
background-image: url('../images/tips/call_center.png');
background-position: left center;
background-repeat: no-repeat;
}

#header #top_tips #tips ul#lista_tips li.tip_cotiza a {
padding-left: 20px;
background-image: url('../images/tips/cotiza.png');
background-position: left center;
background-repeat: no-repeat;
}
/* tables Sorter*/
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	/*background-image: url(img/bg.gif);*/
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	/*background-image: url(img/asc.gif);*/
}
table.tablesorter thead tr .headerSortDown {
	/*background-image: url(img/desc.gif);*/
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* ----------------- Footer ----------------------- */
#footer {
width: 100%;
position: fixed;
bottom: 0px;
text-align: center;
background-color: #F88E1E;
z-index: 999;
}
/* ----------------- Content ----------------------- */
/* CMS */
#contenido_form
{
display: block;
width: 80%;
min-height: 450px;
height: auto;
margin: 0px auto;
background-color: #fff;
padding: 20px 10px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
box-shadow: 0 3px 5px rgba(50, 50, 50, 0.4);
position: relative; /*     z-index: 999;     */
padding: 35px 10px;
margin: 20px auto;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

#contenido.cms {
padding: 35px 10px;
margin: 20px auto;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
/* Internas */
#contenido h1 {
font-family: VAGRoundedBold;
color: #58595B;
font-size: 18px;
}

.clear {
clear: both;
}

.left {
float: left;
}

a.descarga {
display: block;
margin: 4px 0px;
padding: 12px 0px 0px 15px;
padding-left: 16px;
background-image: url( 'img/descarga.jpg' );
background-repeat: no-repeat;
background-position: 1px center;
color: #E9861E;
text-decoration: none;
}
/* Login */
.form_row label, .form_row span {
padding: 0;
display: block;
text-align: center;
width: 100%;
}

.form_row input {
text-align: center;
}

.submits .form_row {
line-height: 16px;
min-height: 16px;
padding: 3px 0px;
}

#formulario {
display: block;
height: auto;
top: 0px;
    left: 0px;
}

#formulario .row {
display: block;
width: 100%;
height: auto;
margin: 0px auto;
padding: 5px 0px;
}

#panel {
display: block;
/*width: 752px;*/
height: auto;
margin: !important 1px auto;
top: 0px;
left: 30px;
}

#panel .row {
display: block;
width: 100%;
height: auto;
margin: 0px auto;
padding: 5px 0px;
}

#panel .row label {
display: block;
width: 100%;
height: auto;
}

#panel .row input[type="text"], #panel .row input[type="password"] {
display: block;
width: 90%;
height: auto;
padding: 2px 5px;
}

#panel .row input[type="submit"], #panel .row input[type="button"] {
display: block;
width: 80px;
height: auto;
float: right;
}
/*
#panel td {
width: auto;
}*/
/*Boton*/
.botonG
{
background: url(img/graf2.png) no-repeat;
display: block;
width: 80px;
height: auto;
float: right;
}
.botonX
{
background: url(img/excel.png) no-repeat;
display: block;
width: 80px;
height: auto;
float: right;
}
.botonB
{
background: url(img/search.png) no-repeat;
display: block;
width: 80px;
float: right;
}
/*Cabecera */
#header #top_tips {
font-family: 'PTSansRegular';
color: #777777;
font-size: 13px;
height: 30px;
background-color: #eaeaea;
}

#header #top_tips #tips {
display: block;
height: 30px;
width: 960px;
margin: 0px auto;
position: relative;
}

#header #top_tips #tips ul#lista_tips_Izq {
display: block;
height: 18px;
width: auto;
position: absolute;
top: 6px;
left: 6px;
}

#header #top_tips #tips ul#lista_tips_Izq li a, #header #top_tips #tips ul#lista_tips_Izq li span {
color: #777777;
/*display: block;*/
line-height: 16px;
padding-top: 1px;
text-decoration: none;
}

#header #top_tips #tips ul#lista_tips_Izq li a:hover {
color: #7bb926;
}

.contenedor_lista {
display: block;
overflow-y: auto;
}
/* tablas */
.lista_table {
width: 770px;
font-family: Trebuchet MS;
font-size: 12px;
color: #777;
border-collapse: collapse;
border-spacing: 0px;
border: none;
margin: 10px 0;
}

.lista_table tr th {
padding: 4px 10px;
text-transform: capitalize;
text-align: center;
font-weight: bold;
color: #fff;
background-color: #EB5858;
}

.lista_table tr th:first-child {
text-align: center;
}

.lista_table tr td {
text-align: justify;
padding: 4px 10px;
}

.lista_table tr td:first-child {
text-align: left;
}

.boton {
font: 700 1em Tahoma, Arial, Verdana, sans-serif;
color: #fff;
background-color: #59B0E5;
border: 1px solid #0074a5;
border-top: 1px solid #004370;
border-left: 1px solid #004370;
cursor: pointer;
}

.boton {
width: auto; /* ie */
overflow: visible; /* ie */
padding: 3px 8px 2px 6px; /* ie */
}

.boton[type] {
padding: 4px 8px 4px 6px; /* firefox */
}

#login {
display: block;
width: 200px;
height: auto;
margin: 60px auto;
}

#login .row {
display: block;
width: 100%;
height: auto;
margin: 0px auto;
padding: 5px 0px;
}

#login .row label {
display: block;
width: 100%;
height: auto;
}

#login .row input[type="text"], #login .row input[type="password"] {
display: block;
width: 90%;
height: auto;
padding: 2px 5px;
}

#login .row input[type="submit"], #login .row input[type="button"] {
display: block;
width: 80px;
height: auto;
float: right;
}
.btnlogin {
display: inline-block;
border: 1px solid #777;
outline: 0;
font-family: Trebuchet MS;
color: #fff;
background-color: #E9861E;
padding: 1px 5px;
border-radius: 3px;
cursor: pointer;
}

.menu ul {
padding: 5px 0px;
}

.menu ul li {
padding: 3px 0px;
padding-left: 18px;
background-image: url('img/bullet.png');
background-position: left 4px;
background-repeat: no-repeat;
color:#432660 !important;
}

.menu h2 {
font-family: 'VagRoundedBold' !important; 
color: #432660 !important;
display: block !important;
font-size: 18px !important;
padding: 14px 0px !important;
margin-bottom: 5px !important;
border-bottom: 1px dotted #808080 !important;
}
.menu {
width: 800px;
}

/*Cuadro de Estadistica*/
#estadistica {
width: 130px;
height: auto;
box-shadow: 3px 3px 4pc #666;
-webkit-box-shadow: 3px 3px 4px #666;
-moz-box-shadow: 3px 3px 4px #666;
background-color: #eaeaea;
border: 1px solid #666;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 10px;
position: fixed;
left: 7px;
top: 270px;
font-family: "Arial Black" sans-serif;
font-size: 10px;
color: #58595B;
z-index: 2;
}
#estadistica p {
color: #58595B;
font-family: "Arial" sans-serif;
font-size: 10px;
}
#estadistica table {
    border-collapse: collapse;
    border: #666 2px solid;
    }
#estadistica table td { border: #9B9B9B 2px solid;}

/*

#divEspera {
    position: absolute !important;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
#divEspera h1 {
    position: absolute !important; 
    left: 300px; 
    top: 50px
}
#divEspera img {
position: absolute; 
left: 57%; 
top: 50%; 
width: 10%; 
height: 18%
}
    */
