<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PYG2" connectionString="Data Source=MXL2091MSL-W7\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=DB_Contratos"/>
  <add name="PYG" connectionString="Data Source=143.18.131.130;Initial Catalog=DB_Intranet1;User ID=regionalSystem;Password=hhc001la"/>
    <add name="PYG1" connectionString="Data Source=143.18.131.131;Initial Catalog=DB_Contratos;User ID=regionalSystem;Password=hhc001la"/>
  </connectionStrings>
  <appSettings>
    <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;"/>
    <add key="mailServer" value="smtpgw.pg.com"/>
    <add key="mailAccount" value="noreplic.sop@pg.com"/>
    <add key="RutaLog" value="C:\PECINET\Archivos\Logs\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CcSndAreas" value="" />
    <add key="ToSndAreas" value="urco.ju.1@pg.com" />
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
