<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PYG2" connectionString="Data Source=MXL2091MSL-W7\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=DB_Contratos" />
    <add name="PYG" connectionString="Data Source=PEMA-MESAPP001;Initial Catalog=PD2;User ID=regionalSystem;Password=hhc001la" />
    <add name="conn" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=db_Indicadores" />
    <add name="IndicadoresForm.Properties.Settings.DB_IndicadoresConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_Indicadores;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
